%head
  %title Alex
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar
    .container
      -# %img#hearts{:src => "http://www.nureek.com/zozo/products_pages/pixel-hearts.png"}
      =image_tag "pixel-hearts.png", class: "hearts pull-left"
      =image_tag "pixel-hearts-damaged.png", class: "hearts pull-left"
      -# =image_tag "magic-meter-full.png", class: "magic-meter pull-left"
= yield
